* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #FEDCC8;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 100px;
  color: #E52B2C;
  font-weight: 800;
  margin: 1rem;
}

p {
  font-size: 26px;
  font-weight: 400;
  color: #E52B2C;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section img {
  width: 100%;
}

section .page-section {
  padding: 6rem 0;
}

section .page-section .icon-container {
  background-color: black;
  margin: 1rem;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin-top: 5rem;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 25rem;
}

section .page-section .icon-container .icon {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

section .page-section .icon-container .icon svg {
  height: 15rem;
  width: 100%;
}

section .page-section .icon-container:hover {
  border: solid 10px #E52B2C;
}

section .page-section .icon-container:hover svg {
  -webkit-animation-play-state: play;
          animation-play-state: play;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

section .page-section .icon-container p {
  color: #fff;
  padding: 0 2rem;
  margin: 0;
  font-size: 1.1rem;
}

.parallax {
  -webkit-perspective: 100px;
          perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  background-color: #e3986d;
  right: 0;
  bottom: 0;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.parallax__cover {
  display: block;
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 2;
}

.parallax__cover img {
  width: 100%;
}

.parallax__layer__0 {
  -webkit-transform: translateZ(-300px) scale(4);
          transform: translateZ(-300px) scale(4);
}

.parallax__layer__1 {
  -webkit-transform: translateZ(-250px) scale(3.5);
          transform: translateZ(-250px) scale(3.5);
}

.parallax__layer__2 {
  -webkit-transform: translateZ(-200px) scale(3);
          transform: translateZ(-200px) scale(3);
}

.parallax__layer__3 {
  -webkit-transform: translateZ(-150px) scale(2.5);
          transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__4 {
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
}

.parallax__layer__5 {
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);
}
/*# sourceMappingURL=styles.css.map */